main {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}

#map {
  height: 100%;
}

#destinationSelector {
  position: absolute;
  top: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: fit-content;
  transform: translateX(200%);
}

#batteryStatus {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 25rem;
}

#chargeInfo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#charging-time {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#emergencyButton {
  position: absolute;
  bottom: 10px;
  left: 54rem;
  z-index: 10;
  background-color: #ef4444;
  border-radius: 0.125rem;
  color: #ffffff;
  padding: 10px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.my-custom-selector {
  position: absolute;
  bottom: 50px;
  left: 40rem;
  z-index: 10;
  background-color: #ef4444;
  border-radius: 0.125rem;
  color: #ffffff;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}
